---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import getUniqueTags from "@utils/getUniqueTags";
import slugify, { slugifyStr } from "@utils/slugify";
import { SITE } from "@config";
import getPosts, {
  getPostsByTag,
  getSortedPosts,
  type Post,
} from "@utils/getPosts";

export interface Props {
  post: Post;
  tagName: string;
}

export async function getStaticPaths() {
  const posts = await getPosts();

  const tags = getUniqueTags(posts);

  return tags.map(tag => {
    return {
      params: { tag: slugifyStr(tag) },
      props: { tagName: tag },
    };
  });
}

const { tagName } = Astro.props;

const tag = slugifyStr(tagName);

const posts = await getPosts();

const tagPosts = getPostsByTag(posts, tag);

const sortTagsPost = getSortedPosts(tagPosts);
---

<Layout title={`Tag:${tagName} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`Tag:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the articles with the tag "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tagName}`}</h1>
    <ul>
      {sortTagsPost.map(post => <Card post={post} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
