---
import slugify from "@utils/slugify";
import Datetime from "./Datetime";
import type { Post } from "@utils/getPosts";

export interface Props {
  post: Post;
  secHeading?: boolean;
}

const { post, secHeading = true } = Astro.props;

const { title, date: pubDatetime, description } = post.data;

const headerProps = {
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={`/posts/${slugify(post)}`}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      secHeading ? (
        <h2 {...headerProps} transition:name={`post-${slugify(post)}`}>
          {title}
        </h2>
      ) : (
        <h3 {...headerProps} transition:name={`post-${slugify(post)}`}>
          {title}
        </h3>
      )
    }
  </a>
  <Datetime datetime={pubDatetime} />
  <p>{description}</p>
</li>
